@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-slate-100;
    overscroll-behavior: none;
}
.scrollbar::-webkit-scrollbar {
    display: none;  
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        display: none;  
    }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
@layer components {
    .scrollStop {
      @apply sticky top-0;
    }
    .scrollStop::after {
      content: '';
      display: block;
    }
  }